<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840637955716-sem6dgu5jjjhp0hbr2m4ja48pq312q8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840637955716-sem6dgu5jjjhp0hbr2m4ja48pq312q8i</string>
	<key>API_KEY</key>
	<string>AIzaSyBEGWclCWtkf0FMd35mqlyMZy9i3DrSe24</string>
	<key>GCM_SENDER_ID</key>
	<string>840637955716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whereyouatfriend</string>
	<key>PROJECT_ID</key>
	<string>where-you-at-buddy</string>
	<key>STORAGE_BUCKET</key>
	<string>where-you-at-buddy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840637955716:ios:d0d73b983244662d610cd1</string>
	<key>DATABASE_URL</key>
	<string>https://where-you-at-buddy.firebaseio.com</string>
</dict>
</plist>